.page2 {
    background-color: #FEF0EC;
}

@font-face {
    font-family: "Overlock";
    src: url("overlock-regular.ttf");
}
.firsttitle {
    font-family: Overlock;
    font-size: 40pt;
    text-align: center;
    
}

.images {
    font-family: calibri;
    font-size: 20pt;
    
}
.tile {
    width: 220px;
    height: 280px;
    margin: 10px;
    padding: 40px;
    float: left;    
    text-align: center;
}

.tile2 {
    width: 520px;
    height: 261px;
    margin: 10px;
    padding: 40px;
    float: left;    
    text-align: center;
    
}
    
    
}
.text1{
    position: relative;
    left: 40px;
    
}
.text3{
    position: relative;
    left: 40px;
}

.secondtitle {
    font-family: "Calibri";
    font-style: bold;
    font-size: 28pt;
    background-color: none;
    display:inline;
    
}
.thirty {
    color: darkgoldenrod;
    font-style: bold;
    display:inline;
}

.header1 {
    text-align: center;
    
}

.paragraph {
    font-family: calibri;
    font-size: 18pt;
    
}
.slider {
    font-family: calibri;
    font-size: 18pt;
}


