.background {
    
    background-image: url(backgroundforest.png);
    background-repeat: no-repeat;
    background-size:cover;
    font-family: calibri;
}
.image {
    
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.header {
    text-align: center;
}

#signup {
    font-size: 24pt;
}

#othertext {
    font-size: 18pt;
    
}