.background {
    
    background-image: url(background%20forest%20transparent.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    font-family: calibri;
    position: relative;
    
}

.image {
    
    opacity: 0.4;
    filter: alpha(opacity=40);
}
.header {
    text-align: center;
}

#sign {
    font-size: 30pt;
    text-align: center;

}

#othertext {
    font-size: 18pt;
    text-align: center;

}

.signup {
     text-align: center;
}

#Username {
    font-family: calibri;
    font-size: 18pt;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#Email {
    font-family: calibri;
    font-size: 18pt;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#PhoneNum {
    font-family: calibri;
    font-size: 18pt;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#Password {
    font-family: calibri;
    font-size: 18pt;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#confirmPassword {
    font-family: calibri;
    font-size: 18pt;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


.button5 {
background-color: #035208;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 5px solid #035208;
    padding: 14px 25px;
    font-size: 16px;
    margin: 4px 2px;
    color: White;
    margin:auto;
    display:block;   
}
