#logo {
    
    margin-left: 50px;
}

#first {

}

.header {
    
    background-color: white;

}

#slogan {
    
    color: white;
    text-align: center;
    font-size: 50pt;
    font-family: "Helvetica Neue"; 
    text-border: 200px;
    
    
}
#buttons {
    
    float: right;
    
}

.hi {
    margin-top: 0;
    background-image: url(Website%20Pic.jpg);
    background-size: 1440px 800px;
    background-repeat: no-repeat;
    display: compact;
    background-position:50%, 300px;
    font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

#class {
    
    align: center;
}
