#logo {
    
    margin-left: 50px;
}


.header {
    
    background-color: white;

}

#slogan {
    
    color: white;
    text-align: center;
    font-size: 30pt;
    font-family: "Calibri"; 
    text-border: 200px;
    font-weight: bold;
    margin 0 auto;
    line-height: 50px;
    float: center;
    width: auto
    
    
}
#buttons {
    
    float: right;
    margin-right: 50px;
    
}

.hi {
    margin-top: 0;
    background-image: url(Website%20Pic.jpg);
    background-size: 1440px 800px;
    background-repeat: no-repeat;
    width: 100%;
    display: compact;
    background-position:50%, 300px;
    font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

#button1 {
    
    text-align: center;
    background-color: #035208;
    border: none;
    color: white;
    padding: 17px 90px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer
    
}

#button2 {
    
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
}

#button3 {
    
    background-color: transparent;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 5px solid black;
    padding: 10px 15px;
    font-size: 16px;
    margin: 4px 2px;
}

#button4 {
    
    background-color: #035208;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 5px solid #035208;
    padding: 14px 25px;
    font-size: 16px;
    margin: 4px 2px;
    color: White
}

.center {
    
    text-align: center;
}

    

.page {
    background-color: #fbe4d4
}



.pic {
    
    float: left;
    width: 310px;
    padding: 100px; 
    background-color: #fbe4d4;  
    margin: auto;
}

.about {
    
    float: left;
    text-align: center;
    margin: auto;
    width: 899px;
    padding 100px;
}

@font-face {
    font-family: "Overlock";
    src: url("overlock-regular.ttf");
}
.firsttitle {
    font-family: Overlock;
    font-size: 40pt;
    text-align: center;
    
}

.images {
    font-family: calibri;
    font-size: 20pt;
    
}
.tile {
    width: 15%;
    height: 280px;
    margin: 10px;
    padding: 55px;
    float: left;
    text-align: center;
}

.tile2 {
    width: 520px;
    height: 261px;
    margin: 10px;
    padding: 50px;
    float: left;    
    text-align: center;
    
}
    
    
}
.text1{
    position: relative;
    left: 40px;
    
}
.text3{
    position: relative;
    left: 40px;
}

.secondtitle {
    font-family: "Calibri";
    font-style: bold;
    font-size: 28pt;
    background-color: none;
    display:inline;
    
}
.thirty {
    color: darkgoldenrod;
    font-style: bold;
    display:inline;
}

.header1 {
    text-align: center;
    background-color: white;
}

.paragraph {
    font-family: calibri;
    font-size: 18pt;
    
}
.slider {
    font-family: calibri;
    font-size: 18pt;
}




#h2 {
    
    font-size: 30pt;
    font-family: Overlock; 
}

#info {
    
    font-size: 20pt;
   font-family: Overlock;

}
.disclaimer {
    
    float: left;
    margin-left: 50px;
    width: 30%;
    
}
.backgroundcolor {
    
    background-color: #fbe4d4;
}
.sharing {
    
    float: center;
    width: 50px;
    padding: 30px;
    border: 30px;
    width: auto;
}