<html>
    <head>
        <link rel="stylesheet" type="text/css" href="searchpage.css">
         <title>AdNature | Search</title>
        <link rel="shortcut icon" href="Transparent%20Mountain.ico" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    
    <body class="Layer_1">
          <img src="../logo.png" class="logo" >
        
        <div class="lighter">
<form>
    <span><i class="glyphicon glyphicon-search"></i><input type="text" class="search square"><input type="button" value="Search"></span>
</form>
        </div>
    
        
    </body>
</html>