
.Layer_1 {
  background-image: url("searchbackground.png");

}
.logo {
    
    float: center;
    width: 500px;
    margin-left: 50%;
    margin-top: 130px;
    transform: translate(-50%);


}

form{
	width:600px;
	margin:0 auto;
    margin-left: 50%;
    margin-top: 0px;
    transform: translate(-43%);

}
.search { 
	padding:6px 15px 6px 30px;
	margin: 3px;
}
input[type=text]{
	color:#bcbcbc;
}
input[type=button], input[type=button]:hover {
	position:relative; 
	left: 5px;
	border:1px solid #adc5cf;
	background: #e4f1f9; /* Old browsers */
	background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
	background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
	color:#7da2aa;
	cursor: pointer;
}
.lighter {
	width:100%;
	height:50px;
	padding:40px 25px;
    

}
.lighter input[type=text]{
	border:1px solid #d0d0d0;
	background-color:#fcfcfc;
    width: 450px;
}