#logo {
    position: absolute;
    left:40px;
}

#title {
    font-weight: bold;
    font-family: "Calibri";
    font-size: 24pt;
    text-align: center;
}
#Address {
    font-size: 16pt;
    text-align: center;
    
}

.Slider {
    width: 548px;
    height: 450px;
    float: left;    
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
}

#info {
    text-align: left;
    position: absolute;
    margin-left: 50%;
    transform: translate(-45%);
    font-size: 14pt;
    text-decoration-color: black;
}
.Activities {
    background-color: #337ab7;
    -moz-border-radius: 15px;
    -webkit-border-radius: 5px;
    border: 5px solid #337ab7;
    padding: 14px 25px;
    font-size: 16px;
    margin: 4px 2px;
    color: White;
    
}
#Camping {
    position: absolute;
    left:30px;
    top:200px;
}
#Canoeing {
    
}
#Kayaking {
    
}
#Sailing {
    
}
#Fishing {
    
}
#Cross-country {

}
#Snowshoeing {
    
}
#Hiking{
    
}
#Cycling{
    
}
#Swimming{
    
}
#Picknicking{
    
}