<html lang="en" >
    <head>
        <link rel="shortcut icon" href="../Transparent%20Mountain.ico" height="5px"/>
        <title>AdNature | outdoor recreation locating tool</title>
        
        <link rel="stylesheet" type="text/css" href="Style.css">
           <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="cssslider_files/csss_engine1/style.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
    <body>
        <div class="hi">

        <div class="header">
        <img id="logo" src="../logo.png" alt="Logo" style="10px" float="left" margin-left="20px" >
        <div id="buttons">
            <button type="button" id="button3" data-toggle="modal" data-target="#loginModal">Log In</button></a>
        <a href="../Signuppage/signuppage.html"
           <button type="button" id="button4">Sign Up</button></a>

        </div>
        </div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="center" >
        <p id="slogan">Making it easier for you to get outside</p><br><br><br>
        </div>
                
            <div class="center">
                <a href="../Signuppage/signuppage.html"><button type="button" id="button1">Sign Up</button></a>
                <br>
                <br><br>
                <a href="../SearchPage/Searchpage.html"><button type="button" id="button2">Search By Activity</button></a>
                <br>
                <br>
                <br><br><br><br><br><br><br><br><br><br>
            </div>
        </div>
        
        
    <div class="page">
        <!--Here's how it works---------------------->
             
        <div class="firsttitle">
            <br>
            Here's how it works
        </div>    

        

        <!--Images----------------------------------->
        <div class="images">
            <div class="tile image1">
                <img src= "Search%20Bar%203.png" height="64" width="270">
                
                <div class="text1">Search an activity or make a customized search that fits your needs</div>
            </div>
            
            <div class="tile image2">
                <img src="Locations.PNG" height="209" width="225"><br>
                <p>See all the options available</p> 
            </div>
            
            <div class="tile image4">
                <img src="Door.jpg" height="280" width="192.5"> <br>
               Get outside!
            </div>
            
            <div class="tile image3">
                <img src="Map.PNG" height="178.5" width="307.5">
                 <p>Check out the map to see user testimonials and plan your route</p>
            </div>
            
            
               </div>


        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <!--Choose from over 30 outdoor activities -->    
             <br><br>
        <div class="header1" style="clear: both;">
            <br>
            <br><br>
            <h2 class= "secondtitle"> Choose from over 
                <div class="thirty">30</div> 
            outdoor activities  
            </h2>    
        </div>    
            
        


        
    </div>
<div class="page2">
        <!--Paragraph-------------------------------->
        <div class="tile2 Paragraph">
            <p>Do you love running and want to find new routes? Do you want new places to for outdoor photography? Do you prefer the adrenaline of downhill skiing? Let AdNature find the right spot for you.
            </p>    
        </div>  
        
        <!--Slider----------------------------------->
       
		 <div class="csslider1 autoplay ">
		<input name="cs_anchor1" id="cs_slide1_0" type="radio" class="cs_anchor slide">
		<input name="cs_anchor1" id="cs_slide1_1" type="radio" class="cs_anchor slide">
		<input name="cs_anchor1" id="cs_slide1_2" type="radio" class="cs_anchor slide">
		<input name="cs_anchor1" id="cs_play1" type="radio" class="cs_anchor" checked="">
		<input name="cs_anchor1" id="cs_pause1_0" type="radio" class="cs_anchor pause">
		<input name="cs_anchor1" id="cs_pause1_1" type="radio" class="cs_anchor pause">
		<input name="cs_anchor1" id="cs_pause1_2" type="radio" class="cs_anchor pause">
		<ul>
			<li class="cs_skeleton"><img src="cssslider_files/csss_images1/walking.jpg" style="width: 100%;"></li>
			<li class="num0 img slide"> <img src="cssslider_files/csss_images1/walking.jpg" alt="Walking" title="Walking"></li>
			<li class="num1 img slide"> <img src="cssslider_files/csss_images1/canoeing.jpg" alt="Canoeing" title="Canoeing"></li>
			<li class="num2 img slide"> <img src="cssslider_files/csss_images1/soccer.jpg" alt="Soccer" title="Soccer"></li>
		</ul>
		<div class="cs_description">
			<label class="num0"><span class="cs_title"><span class="cs_wrapper">Walking</span></span></label>
			<label class="num1"><span class="cs_title"><span class="cs_wrapper">Canoeing</span></span></label>
			<label class="num2"><span class="cs_title"><span class="cs_wrapper">Soccer</span></span></label>
		</div>
		
		<div class="cs_bullets">
			<label class="num0" for="cs_slide1_0"> <span class="cs_point"></span>
				<span class="cs_thumb"><img src="cssslider_files/csss_tooltips1/walking.jpg" alt="Walking" title="Walking"></span></label>
			<label class="num1" for="cs_slide1_1"> <span class="cs_point"></span>
				<span class="cs_thumb"><img src="cssslider_files/csss_tooltips1/canoeing.jpg" alt="Canoeing" title="Canoeing"></span></label>
			<label class="num2" for="cs_slide1_2"> <span class="cs_point"></span>
				<span class="cs_thumb"><img src="cssslider_files/csss_tooltips1/soccer.jpg" alt="Soccer" title="Soccer"></span></label>
		</div>
    </div>
		<!-- End Slider -->
        <br><br><br><br>
            <div class="about">
                <img src="outdoors.png" class="pic"></img>
                <br><br><br><br><br><br>
                <h2 id="h2">About AdNature</h2>
                <p id="info">This is a community based platform designed to help you get outside.</p>
                <br>
                <a href="About%20Adnature.html">
                    <button type="button" id="button4">Learn More</button></a>
                <br><br><br><br><br><br><br><br><br>

            </div>
</div>

    

    <div class='disclaimer'>
       <div class="sharing">
            <a href="https://twitter.com/adnature_co"><img HEIGHT="40px" WIDTH="40px" src="twitter.png"></a>
            <a href="https://www.facebook.com/AdNature/?fref=ts"><img HEIGHT="40px" WIDTH="40px" src="facebook.png" ></a>
            <a href="http://instagram.com/adnature_co/">
                <img src="instagram40x40.png" border="0">
            </a>
    </div>
    <p>
        Copyright &copy; AdNature. All rights reserved.
AdNature is not responsible for what you do in nature.

            </p></div>



<!--- login Modal -->
 <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <header class="h1">Log In</header>
    
        </div>
        <div class="modal-body">
          <form role="form">
              <div class="glow">
              <input type="text" placeholder="Username">
              <br>
              <br>
              <input type="password" placeholder="Password" >
            <br>
              <br>
              </div>
              <button type="submit" class="btn btn-default btn-success btn-block"> Log in</button>
            
          </form>
      
        <div class="modal-footer">
           <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
      </div>
    </div>
  </div> 
</div>

    </body>
    
    
    
    
</html>
