
.background {
	width:100%;  
    z-index:-5;
	
}
.fixed {
	
	position: fixed;


}

.cover {
	z-index:5;
    left: 0;  
    top: 0; 
}


.desc {
    
    margin: 0;
    border: 50px, white;
    padding: 5px;
    width: 120px;
    text-align: left;
     
}
.Logo {
    position: absolute; 
    top: 10px; 
    left: 50px;
}

.Triangle {
    position: absolute; 
    top: 140px; 
    margin-left: 50%;
    transform: translate(-50%);
    
}

.Skiier {
    position: absolute;
    top: 190px; 
    margin-left: 50%;
    transform: translate(-40%);
    
}
#signout {
    top: 10px;
    position: absolute;
    float: right;
    right: 20px;
    background-color: #035208;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 5px solid #035208;
    padding: 14px 25px;
    font-size: 16px;
    margin: 4px 2px;
    color: White;
    font-family:"Overlock";
    
}

#customize {
    position: absolute; 
    background-color: #035208;    
    border: 5px solid #035208;
    padding: 8px 12px;
    font-size: 16px;
    margin: 4px 2px;
    color: white;
    top: 430px; 
    margin-left: 50%;
    transform: translate(-50%);
    
}

.name {
    font-weight: bold;
    font-family: "calibri";
    font-size: 32pt;
    position: absolute;
    top:360px;
    margin-left: 50%;
     transform: translate(-50%);
}

#City {
   font-weight: bold;
    font-family: calibri;
    font-size: 24pt;
    position: absolute;
    top: 310px; 
    left: 50px;
    
}

#Type {
    font-weight: bold;
    font-family: calibri;
    font-size: 18pt;
    position: absolute;
    top: 370px;
    left:50px;
    
    
   
}
#lmh {
	position: absolute;
	top: 420px;
	left: 50px;

}
.custom{
	
	float: left;
	width: 225px;
	
	
}
#activ {
	float: right;
	border: 50px;
	position: absolute;
	top: 350px;
	right: 50px;
	
}
.activ{
	
	width: 180px;
	display: block;
	margin: 6px;
	
	
}
#Activities {
    font-weight: bold;
    font-family: calibri;
    font-size: 18pt;
    position: absolute;
    top: 300px; 
    right: 50px;
}
#Schedule {
     font-weight: bold;
    font-family: calibri;
    font-size: 18pt;
    position: absolute;
    top: 540px; 
    margin-left: 50%;
    transform: translate(-50%);
}
.header {
    
    text-align: center;
    font-size: 25pt;
}
.paragraph {
    
    text-align: center;
}

.selections {
    
    width: 170px;
    padding: 50px;
    float: left;
}
.activities {
    
    display: inline;
    margin-left: auto;
    margin-right: auto; 
    width: 180px;
    float: left;
    padding: 10px;
    text-align: center;       

    
}


